beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.29
django-appconf==1.0.2
django-compressor==2.2
django-sass-processor==0.5.6
idna==2.6
libsass==0.13.4
lxml==4.1.1
nltk==3.2.5
numpy==1.13.3
pandas==0.21.0
python-dateutil==2.6.1
pytz==2017.3
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
urllib3==1.22
